/*Estilos globales*/
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}

#chat {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1;
}

/*Navbar*/
.navbar {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 10px 0;
}

.navbar a {
  color: white;
  font-weight: bold;
}

.navbar-brand {
  font-size: 24px;
  margin-left: 30px;
}

.navbar-links {
  list-style: none;
  display: flex;
}

.navbar-links li {
  margin-right: 30px;
}

/*Form*/
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #7169cc, #4d68d9);
  color: #fafafa;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  margin-top: 75px;
  background-color: #ffffff;
  padding: 20px;
  width: 250px;
  height: 400px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.registration-form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.registration-form h1 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.registration-form input {
  max-width: 100%;
  padding: 10px;
  margin-bottom: 30px;
  border: none;
  font-size: 15px;
  border-bottom: 1px solid #ccc;
}

.registration-form input:focus {
  outline: none;
}

.registration-form button {
  width: 100%;
  padding: 10px;
  background: linear-gradient(to right, #ab6ab6, #4d68d9);
  color: #f5f5f5;
  font-size: 15px;
  font-weight: bold;
  border: none;
}

.registration-form button:hover {
  background: linear-gradient(to right, #4d68d9, #ab6ab6);
}

/*texto agregado*/

.textContainer {
  background-color: #4b40be;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  margin: 100px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 2px 4px rgba(0, 0, 0, 0.08);
}

.footer {
  width: 100%;
  margin-top: 50px;
  background-color: #8094e3;
  text-align: center;
  padding: 10px;
}
.social-icons{
  display: flex;
  justify-content: center;
  align-items: center;
}
.footerIcon {
  width: 50px;
}
.footerIcon2 {
  margin-top: 5px;
  width: 70px;
}
